body {
  background: #5c6bc0;
}

.canvas {
  cursor: crosshair;
}

.color-picker {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: inline-block;
  float: right;
}

.activeColor {
  box-shadow: 0 0 2em black;
}

.color-palette {
  width: 26px;
  height: 400px;
  float: right;
}

.playground-header {
  height: 150px;
}
