<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pixel Playground!</title>
  </head>
  <body>
          <div class="row">
            <div class="col m1">
              <div id="palette-goes-here" style="background-color: #c1c1c1; width: 50px; height: 200px; float: right;">

              </div>
            </div>
            <div class="col m8 s8 l8">
              <canvas id="myCanvas" width="1000" height="1000">
              </canvas>
            </div>
            <div class="col m3">
              <div class="pictures-go-here" style="display: block;">


              </div>
            </div>
          </div>

  </body>
</html>
